body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0 0;
  position: relative;
}

.section img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.section h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
  color: #333;
  margin: 0 auto 30px;
}

.section .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section .row button {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #333;
  background: #fff;
  width: 200px;
  box-sizing: border-box;
  padding: 10px 0;
  border-radius: 4px;
  border: 1px solid #333;
  margin: 0 8px;
  cursor: pointer;
  transition: .3s;
}

.section .row button:hover {
  background: #333;
  color: #fff;
  transition: .3s;
}

.section .nope-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000f7;
}

.section .nope-img::before {
  content: "Kliknij w dawidka jak się rozmyśliłeś";
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.section .nope-img img {
  cursor: pointer;
}
